<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center" href="#">Marketer</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap navbar-dark">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>