<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">

    <ul class="nav flex-column">
      <li class="nav-item">
        {{#if isHomePage}}
          <a class="nav-link active" href="/">
        {{else}}
          <a class="nav-link" href="/">
        {{/if}}
            <span data-feather="home"></span>
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
      </li>

      
      {{!-- Toggler --}}
      <li class="nav-item">
        <a href="#" id="campaignMenu"
        {{#if isCampaignActive}}
        {{else}}
          data-target="#campaignSubmenu" data-toggle="collapse" aria-expanded="false"
        {{/if}}
        class="nav-link
        {{#if isCampaignActive}}
        active
        {{else}}
        {{/if}}
        ">
          <span data-feather="calendar"></span>
          Campaigns
          {{#if isCampaignActive}}
          <span class="fa fa-minus"></span>
          {{else}}
          <span class="fa fa-plus"></span>
          {{/if}}
        </a>
        <ul class="
        {{#if isCampaignActive}}
        {{else}}
         collapse
        {{/if}}
        list-unstyled" id="campaignSubmenu">
          <li class="nav-item">
            <a class="nav-link
            {{#if isCampaignListPage}}
            active
            {{else}}
            {{/if}}
            " href="/campaigns/list">
              <span data-feather="layers"></span>
              List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="list"></span>
              Collections
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link
            {{#if isTemplateListPage}}
            active
            {{else}}
            {{/if}}
            " href="/campaigns/template">
              <span data-feather="layers"></span>
              Templates
            </a>
          </li>
        </ul>
      </li>


      

      <li class="nav-item">
        {{#if isReportPage}}
        <a class="nav-link active" href="#">
          {{else}}
          <a class="nav-link" href="/reports">
            {{/if}}
            <span data-feather="book-open"></span>
            Report
          </a>
      </li>
      <li class="nav-item">
        {{#if isUserPage}}
        <a class="nav-link active" href="/users">
          {{else}}
          <a class="nav-link" href="/users">
            {{/if}}
            <span data-feather="users"></span>
            Users
          </a>
      </li>
      <li class="nav-item">
        {{#if isSettingPage}}
        <a class="nav-link active" href="#">
          {{else}}
          <a class="nav-link" href="#">
            {{/if}}
            <span data-feather="settings"></span>
            Settings
          </a>
      </li>
      <li id="separator"></li>
      <li class="nav-item">
        {{#if isAboutPage}}
        <a class="nav-link active" href="#">
          {{else}}
          <a class="nav-link" href="#">
            {{/if}}
            <span data-feather="info"></span>
            About
          </a>
      </li>
      <li class="nav-item footer">
        <span class="nav-link">
          copyright 2018
        </span>
      </li>
    </ul>

  </div>
</nav>