

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1>{{message}}</h1>
  </div>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
</main>