<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1>{{title}}</h1>

    <div class="mb-2 mb-md-0">
      <h5>{{getCurrentMonth}}</h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 chart-widget-container">
        <div id="deliveryChart" style="height=200px"><div class="loader"></div></div>
      </div>
      <div class="col-lg-6 chart-widget-container">
        <div id="usageChart" style="height=200px"><div class="loader"></div></div>
      </div>
      <div class="col-sm-12 task-summary-container border-top">
        <div id="summary-title"><h3>Task Summary</h3></div>
        <div id="summary-content">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task Name</th>
                <th scope="col">Dest Count</th>
                <th scope="col">Status</th>
                <th scope="col">TPM</th>
                <th scope="col">Created at</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Task Januari 2</td>
                <td>3405</td>
                <td>Running</td>
                <td>500</td>
                <td>28 Jan 2018</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Task Januari 1</td>
                <td>7605</td>
                <td>Finished</td>
                <td>500</td>
                <td>5 Jan 2018</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Task Desember 2</td>
                <td>8000</td>
                <td>Finished</td>
                <td>500</td>
                <td>21 Dec 2017</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Task Desember 1</td>
                <td>3321</td>
                <td>Finished</td>
                <td>500</td>
                <td>4 Dec 2017</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
