<main id="templateMain" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1>{{title}}</h1>
  </div>
    {{#if error}}
    {{error}}
    {{/if}}

    <button type="button" data-toggle="modal" data-target="#createTemplateModal" class="btn btn-primary float-right button-table" id="createTemplateButton">
      Create New
    </button>


    {{!-- Create New Modal --}}
    <div class="modal fade" id="createTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create New Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#" method="POST" id="templateForm">
              <div class="form-group">
                <label for="templateNameInput">Name:</label>
                <input type="text" class="form-control" id="templateNameInput" placeholder="Enter Template Name" name="name">
              </div>
              <div class="form-group">
                <label for="inlineRadioOptions">Type:</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="templateType" id="typeHtml" value="HTML">
                  <label class="form-check-label" for="typeHtml">HTML</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="templateType" id="typeText" value="rawText">
                  <label class="form-check-label" for="typeText">Raw Text</label>
                </div>
                <div class="form-group">
                  <textarea class="summernote" name="mailTemplate"></textarea>
                </div>
                <div id="errorModal">
                </div>
              </div>
              <button type="button" class="btn btn-dark" id="modalCloseBtn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Create New</button>
            </form>
          </div>
        </div>
      </div>
    </div>


     {{!-- Delete Row Modal --}}
    <div class="modal fade" id="deleteTemplateModal" tabindex="-1" role="dialog" aria-labelledby="deleteTemplateModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteTemplateModalLabel">Delete Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>You are going to delete this record. Continue?</p>
            <div id="errorModal"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" id="modalCloseBtn" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="removeTemplateConfirmButton">Delete</button>
          </div>
        </div>
      </div>
    </div>



    {{!-- Template List Table --}}
    <div>
      <table class="table table-hover" id="templateTable" data-toggle="table" data-click-to-select="true">
        <thead class="thead-light">
          <tr>
            <th class="col-md-2" data-field="name">Name</th>
            <th class="col-md-1" data-field="templateType">Type</th>
            <th class="col-md-5" data-field="mailTemplate">Snippet</th>
            <th class="col-md-2" data-field="mailTemplate">Created at</th>
            <th class="col-md-2" data-field="state">Tools</th>
          </tr>
        </thead>
        {{#if templateData}}
        {{#each templateData}}
        <tbody>
          <tr id={{this.id}}>
            <td>{{this.name}}</td>
            <td>{{this.templateType}}</td>
            <td>{{this.mailTemplate}}</td>
            <td>{{trimDateTime this.createdAt}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm tool-btn" id="removeTemplateButton" data-toggle="modal" data-target="#deleteTemplateModal">
                <span class="feather-table" data-feather="trash-2"></span>
              </button>
              <button type="button" class="btn btn-dark btn-sm tool-btn" id="editTemplateButton">
                <span class="feather-table" data-feather="edit-2"></span>
              </button>
            </td>
          </tr>
        </tbody>
        {{/each}}
        {{/if}}
      </table>
    </div>
</main>