body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh);
  padding-top: 4rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #999;
}

.sidebar .nav-link:hover {
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link .fa {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link:hover .fa,
.sidebar .nav-link.active .fa {
  color: inherit;
}



.sidebar li ul .nav-link {
  margin-left: 1rem;
  font-weight: 500;
  color: #999;
}

.sidebar li ul .nav-link:hover {
  color: #333;
}




.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#separator {
  margin: .4rem 1rem;
  border-bottom: solid 1px lightgrey;
}

.footer{
  font-size: 9pt;
  position: absolute;
  bottom: .4em;
  width: 100%;
  margin: 0 auto;
}

.footer .nav-link {
  color: gray;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}


/* 
 * Widgets
 */
.chart-widget-container {
  padding: .6rem 2rem;
}

.widget-title {
  margin-bottom: .8rem
}

.task-summary-container {
  margin: 3em 0;
  padding: 1.2em 0;
}

#summary-content{
  margin: .9rem 0;
}


/*
 * tooltip
 */

 .tooltip {
   position: relative;
   display: inline-block;
 }

 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: 50%;
   margin-left: -60px;
 }

 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: black transparent transparent transparent;
 }

 .tooltip:hover .tooltiptext {
   visibility: visible;
 }


/* Loader */

 .loader {
   border: 16px solid #f3f3f3;
   /* Light grey */
   border-top: 16px solid #3498db;
   /* Blue */
   border-radius: 50%;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

/* Modal */
.modalCloseBtn:hover {
  background-color: darkgray;
}


 /* Template Table */
#createTemplateButton {
  margin-bottom: 10px;
}

.button-table {
  margin-left: 10px;
}

.button-table:hover {
  background-color: #009eff;
}